body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    background-color: #5ab5ebd6;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}


textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 20px;
}
.navbar {
    background-color: indigo;
   
    
}

.navbar-brand {
    color: #FFF !important;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}
.row {
    margin-left: 0;
}
.sidebar {   /*background-color: #b8c8f3e6;*/    /*background-color: #1597E5;*/
    background-color: #5ab5ebd6;
    color: #FFF;
    height: 100vh;
    padding: 20px;

}
.sidebar a {
    color: #000;
    font-weight: 800;
    font-size: 20px;
}
.sidebar h2 {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.left {
    margin-top: 150px;
}
span {
    float: right;
}
a {
    margin-left: 45px;
}
.error {
    text-align: center;
    margin-top: 100px;

}

