{% extends "encyclopedia/layout.html" %}

{% load markdown_extras %}

{% block title %}
Encyclopedia
{% endblock %}

{% block content %}
<div class="container">

 {% if entries %}
  <p>{{ entries | markdown | safe }}</p>

    <a href="{% url 'encyclopedia:modify' title %}">
        <i class="fa fa-edit fa-x " ></i> 
        Edit
    </a>
 
{% else %}
<div class="error">
    <h1 >Sorry  </h1>

    <h2  > 404 - Your requested page cannot be found</h2>  

    <h4>Wiki does not have an article with this name</h4>
</div>
{% endif %}


</div>

{%endblock%}
<hr>
