{% load static %}

{% load markdown_extras %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    {% block body %}


    <div class="container">
            <nav class="navbar  navbar-dark bg-primary">
           
               
                    <a class="navbar-brand" href="{% url 'encyclopedia:index' %}">Django Home</a>
                
            </nav>
            
            <div class="row">
                <div class="sidebar col-lg-3 col-md-4">
                    <img class="img-fluid w-50 text-center mx-5 mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" alt="Wiki logo">

                    <img class="img-fluid text-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Wikipedia-logo-textonly.svg/200px-Wikipedia-logo-textonly.svg.png" alt="">
                    <!-- <h2>Wiki</h2> -->
                    <!-- <form action="wiki/index">
                        <input class="search" type="text" name="" placeholder="Search Encyclopedia">
                    </form> -->
                     <form action="{% url 'encyclopedia:search' %}" >
                        {% csrf_token %}
                        <div class="input-group mb-3 mx-2">
                            <input type="text" class="form-control search" name="q" placeholder="Search Encyclopedia" aria-label="Search Encyclopedia" aria-describedby="button-addon2" required>
                                <div class="input-group-append">
                                <input type="Submit" class="btn btn-secondary mb-4 ml-2" value="Go"/>
                                </div>
                        </div>
                    </form>
                    <div>
                        <a href="{% url 'encyclopedia:index' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'encyclopedia:topics' %}">Create New Page</a>
                    </div>
                    <!-- <div>
                        Random Page
                    </div> -->
                    <div>
                        <a href="{% url 'encyclopedia:randoms' %}">Random Page</a>
                    </div>
                    {% block nav %}
                    {% endblock %}
                </div>

                <div class="main col-lg-9 col-md-8">
                <div class="row">
                <div class="main col-lg-8 col-md-8 pl-3">
                {% block content %}
                {% endblock %}
                </div>
                <div class="sidebar left col-lg-4 col-md-4">
                   <img class="img-fluid w-50 text-center mx-5 mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Wikipedia_logo_%28svg%29.svg/1250px-Wikipedia_logo_%28svg%29.svg.png" alt="Wiki logo"/>

                   <img class="img-fluid text-center mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Wikipedia-logo-textonly.svg/200px-Wikipedia-logo-textonly.svg.png" alt=""/>
               
                    <ul class="nav flex-column">
                    <li>Type of site  <span>online cs50</span></li>
                    <li>Country of <span>Egypt</span></li>
                    <li>Design by <span>Fawzy Astafanous</span></li>
                    </ul>

                </div>
                </div>
                </div>
        </div>
    </div>
    {% endblock %}

    </body>
</html>